.contact__section {
  background-image: url('../../images/bg-portfolio-gral-desktop.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  .section__container {
    @include display-column-center-row-center;

    > * {
      width: 100%;
    }
  }

<<<<<<< HEAD
  .list__data,
  .list__media,
  .contact__form {
    opacity: 0;
    animation: fadeOut 1000ms ease-in-out 0ms forwards;
  }

=======
>>>>>>> e7c8cdc26c1f731c9bf15efd148ddfc794b421c1
  .contact__information {
    margin-bottom: 1rem;

    .message {
      display: none;
    }
<<<<<<< HEAD

    .list {
      width: 100%;
      margin-bottom: 0.5rem;

      @include display-row-center-col-center;
    }

    .list__data {
      @include display-column-start-row-center;

=======
  
    .list {
      width: 100%;
      margin-bottom: 0.5rem;
      @include display-row-center-col-center;
    }
  
    .list__data {
      @include display-column-start-row-center;
>>>>>>> e7c8cdc26c1f731c9bf15efd148ddfc794b421c1
      .icon__box {
        margin-right: 1rem;
      }
    }
  }
<<<<<<< HEAD

  .contact__form {
    position: relative;

=======
  
  .contact__form {
    position: relative;
  
>>>>>>> e7c8cdc26c1f731c9bf15efd148ddfc794b421c1
    .alert {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
<<<<<<< HEAD
=======
  
  .list__data,
  .list__media,
  .contact__form {
    opacity: 0;
    animation: fadeOut 1000ms ease-in-out 0ms forwards;
  }
>>>>>>> e7c8cdc26c1f731c9bf15efd148ddfc794b421c1

  @include mq-tablet {
    .section__container {
      @include display-column-center-row-center;
    }

    .contact__information {
      max-width: 30rem;
      margin-bottom: 2.5rem;
<<<<<<< HEAD

=======
>>>>>>> e7c8cdc26c1f731c9bf15efd148ddfc794b421c1
      @include display-column-start-row-center;

      .message {
        margin-bottom: 2.5rem;
        text-align: center;

        @include display-row-center-col-center;
      }
    }

    .contact__form {
      form {
        width: 35rem !important;
      }
    }
  }

  @include mq-desktop {
    .section__container {
      @include display-row-center-col-center;
<<<<<<< HEAD

=======
>>>>>>> e7c8cdc26c1f731c9bf15efd148ddfc794b421c1
      justify-content: space-evenly;

      .contact__information,
      .contact__form {
        margin: 0 1rem;
      }

      .contact__form {
        max-width: 30rem;
      }
    }
  }
}

#contact.contact__animation {
  .message {
    animation: translateToRight 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 250ms forwards;
  }

  .list__data {
    animation: translateToRight 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 500ms forwards;
  }

  .list__media {
    animation: translateToRight 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 750ms forwards;
  }

  .contact__form {
    animation: translateToRight 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 1000ms forwards;

    @include mq-desktop {
      animation: translateToLeft 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 1000ms forwards;
    }
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> e7c8cdc26c1f731c9bf15efd148ddfc794b421c1
